{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{{ current_month }} 오픈 건수 현황</h1>
    <form method="POST" enctype="multipart/form-data" class="mt-3">
        <div class="mb-3">
            <label for="file" class="form-label">엑셀 파일 업로드</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">업로드</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning mt-3">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>독립몰 건수 현황</h2>
            <h3>{{ independent_count }} 건</h3>
        </div>
        <div class="col-md-6">
            <h2>호스팅사 건수 현황</h2>
            <h3>{{ non_independent_count }} 건</h3>
        </div>
    </div>
    <h2 class="mt-5">월별 독립몰 및 그 외 데이터 건수</h2>
    <div class="bar-chart">
        <img src="data:image/png;base64,{{ monthly_category_chart }}" alt="Monthly Category Chart" class="img-fluid">
    </div>
    {% if independent_change is not none %}
        <h3>상반기와 하반기 비교</h3>
        <p>상반기 독립몰 총 건수: {{ first_half_total['독립몰'] }}</p>
        <p>하반기 독립몰 총 건수: {{ second_half_total['독립몰'] }}</p>
        <p>독립몰 건수 변화: {{ independent_change }} ({{ independent_percentage | round(2) }}%)</p>

        <p>상반기 호스팅사 총 건수: {{ first_half_total['그 외'] }}</p>
        <p>하반기 호스팅사 총 건수: {{ second_half_total['그 외'] }}</p>
        <p>호스팅사 건수 변화: {{ non_independent_change }} ({{ non_independent_percentage | round(2) }}%)</p>
    {% endif %}

</div>
{% endblock %}

<style>
    .bar-chart {
        margin: 20px 0;
    }
    .text-success {
        color: green;
    }
</style>
